.suggestion-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
}

.suggestion-item:hover {
  background-color: var(--item-hover-color);
}

.suggestion-item__title {
  flex: 1;
  color: var(--text-normal-color);
  user-select: none;
}

.suggestion-item__title.recent {
  color: var(--text-highlight-color);
}

.suggestion-item__button {
  font-size: 1.3rem;
  cursor: pointer;
  visibility: hidden;
}

.suggestion-item__button:hover {
  color: var(--button-hover-color);
}

.suggestion-item:hover .suggestion-item__button {
  visibility: visible;
}
